<div class="main">
	<form novalidate>
		{{#foreach: searches}}
		<div class="row form-group">
			<div class="col-md-4"><select class="form-control" options="{{fields}}" value="{{field}}"></select></div>
			<div class="col-md-2"><select class="form-control" options="{{operators}}" value="{{operator}}"></select></div>
			<div class="col-md-4"><input class="form-control" value="{{value}}"/></div>
			{{#ifnot $index}}
			<div class="col-md-2"><button class="form-control btn btn-success" click="{{addSearch}}">+</button></div>
			{{/ifnot}}
			{{#if ($index)}}
			<div class="col-md-2"><button class="form-control btn btn-danger" click="{{removeSearch.bind($data, $index)}}">-</button></div>
			{{/if}}
		</div>
		{{/foreach}}
		<div class="row">
			<div class="col-md-offset-10 col-md-2">
				<a class="btn btn-primary form-control" href="{{searchHref}}">Search</a>
			</div>
		</div>
	</form>
</div>
