<!DOCTYPE html>
<html>
<body>
<div class="content">
	<table style="width:100%">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Category</th>
			<th>Year</th>
			<th>Publisher</th>
			<th>Authors</th>
		</tr>
		{{#foreach: publications}}
		<tr data-bind="foreach: publications">
			<td>{{PublicationId}}</td>
			<td><a href="{{link}}">{{Title}}</a></td>
			<td>{{Category}}</td>
			<td>{{Year}}</td>
			<td>{{Publisher}}</td>
			<td>{{Authors}}</td>
		</tr>
		{{/foreach}}
	</table>
</div>
</body>
</html>