<table class="table table-hover">
	<thead>
		<tr>
			<th click="{{sorting.bind($data, 'Title')}}"><a href="#">Title</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Title'}}"></span></th>
			<th click="{{sorting.bind($data, 'Category')}}"><a href="#">Category</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Category'}}"></span></th>
			<th click="{{sorting.bind($data, 'Year')}}"><a href="#">Year</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Year'}}"></span></th>
			<th click="{{sorting.bind($data, 'Publisher')}}"><a href="#">Publisher</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Publisher'}}"></span></th>
			<th>Authors</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: publications">
		<tr>
			<td><a href="{{link}}">{{Title}}</a></td>
			<td>{{Category}}</td>
			<td>{{Year}}</td>
			<td>{{Publisher}}</td>
			<td>{{Authors}}</td>
		</tr>
	</tbody>
</table>
<nav>
  <ul class="pager">
	{{#ifnot page() == 1}}
	<li class="previous"><a href="#" click="{{first}}"><span aria-hidden="true">&larr;</span>First</a></li>
	<li class="previous"><a href="#" click="{{previous}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
	{{/ifnot}}
	{{#ifnot: publications().length < pageSize()}}
	<li class="next"><a href="#" click="{{next}}">Next<span aria-hidden="true">&rarr;</span></a></li>
	{{/ifnot}}
	
  </ul>
</nav>