<div class="col-sm-3 col-md-2 sidebar">
	<!-- <ul class="nav nav-sidebar">
		<li class="active"><a href="#" ><span class="glyphicon glyphicon-download"></span>Temp Button</a></li>
	</ul> -->
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div>
		<h1>Upload a form</h1>
	</div>
	<div>
		<form id="uploadPublication" data-bind="submit: submitPublication">
			<div class="col-md-12">
				<label for="publicationTitle" class="col-md-2">Title:</label>
				<input id="publicationTitle" data-bind="textInput: Title" class="col-md-10"/>
			</div>
			<div class="col-md-12">
				<label for="publicationAbstract" class="col-md-2">Abstract:</label>
				<textarea rows="4" id="publicationAbstract" data-bind="textInput: Abstract" class="col-md-10"/>
			</div>
			<div class="col-md-12">
				<label for="publicationAuthors" class="col-md-2">Authors:</label>
				<input id="publicationAuthors" data-bind="textInput: Authors" class="col-md-10"/>
			</div>
			<div class="col-md-12">
				<label for="publicationCategory" class="col-md-2">Category:</label>
				<select id="publicationCategory" data-bind="options: categoryList, textInput: Category" class="col-md-10"/>
			</div>
			<br/>
			<div class="col-md-12">
				<div class="pull-right">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
