<table class="table table-hover">
	<thead>
		<tr>
			<th><a href="#" click="{{sorting("Title")}}"></a>Title</th>
			<th><a href="#" click="{{sorting("Category")}}">Category</th>
			<th><a href="#" click="{{sorting("Year")}}">Year</th>
			<th><a href="#" click="{{sorting("Publisher")}}">Publisher</th>
			<th>Authors</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: publications">
		<tr>
			<td><a href="{{link}}">{{Title}}</a></td>
			<td>{{Category}}</td>
			<td>{{Year}}</td>
			<td>{{Publisher}}</td>
			<td>{{Authors}}</td>
		</tr>
	</tbody>
</table>
<nav>
  <ul class="pager">
  	<!-- ko ifnot : page() == 1 -->
  	<li class="previous"><a href="#" click="{{first}}"><span aria-hidden="true">&larr;</span>First</a></li>
    <li class="previous"><a href="#" click="{{previous}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
    <!-- /ko -->
    <li class="next"><a href="#" click="{{next}}">Next<span aria-hidden="true">&rarr;</span></a></li>
	
  </ul>
</nav>