<div class="col-md-12">
  <h1>Remove an Account</h1>
</div>
<br/>
<form id="searchAccount" data-bind="submit: findAccount" novalidate>
  <div class="form-group col-md-12">
    <label for="username" class="col-md-2">Username:</label>
    <div class="col-md-8">
      <input class="form-control col-md-12" type="text" name="username" id="username" data-bind="textInput: username" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary col-md-12" id="findAccount" type="submit">Find User</button>
    </div>
  </div>
</form>
<!-- ko if: firstname() -->
<div class="col-md-12 well">
  <div class="col-md-3">
    <strong>First Name:</strong>
    <div data-bind="text: firstname"></div>
  </div>
  <div class="col-md-3">
    <strong>Surname:</strong>
    <div data-bind="text: surname"></div>
  </div>
  <div class="col-md-3">
    <strong>Intials:</strong>
    <div data-bind="text: initials"></div>
  </div>
  <div class="col-md-3">
    <button class="btn btn-danger col-md-12">Remove</button>
  </div>
</div>
<table class="col-md-12 table table-hover">
	<thead>
		<tr>
      <th click="{{sorting.bind($data, 'Title')}}"><a href="#">Title</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Title'}}"></span></th>
      <th click="{{sorting.bind($data, 'Category')}}"><a href="#">Category</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Category'}}"></span></th>
      <th click="{{sorting.bind($data, 'Year')}}"><a href="#">Year</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Year'}}"></span></th>
      <th click="{{sorting.bind($data, 'Publisher')}}"><a href="#">Publisher</a><span class='{{sortIcon}}' visible="{{sortBy() === 'Publisher'}}"></span></th>
			<th>Authors</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: publications">
		<tr>
			<td>{{Title}}</td>
			<td>{{Category}}</td>
			<td>{{Year}}</td>
			<td>{{Publisher}}</td>
			<td>{{Authors}}</td>
		</tr>
	</tbody>
</table>
<nav>
  <ul class="pager">
  	{{#ifnot page() == 1}}
  	<li class="previous"><a href="#" click="{{first}}"><span aria-hidden="true">&larr;</span>First</a></li>
    <li class="previous"><a href="#" click="{{previous}}"><span aria-hidden="true">&larr;</span>Previous</a></li>
    {{/ifnot}}
    {{#ifnot: publications().length < pageSize()}}
    <li class="next"><a href="#" click="{{next}}">Next<span aria-hidden="true">&rarr;</span></a></li>
    {{/ifnot}}

  </ul>
</nav>
<!-- /ko  -->
